###  Values (String, Int,float)

In [1]:
print("String", 100, 33.999)

String 100 33.999

### Separator

In [2]:
print("Pakistan","India",'Sri Lanka','Bangladesh',sep="--")

Pakistan--India--Sri Lanka--Bangladesh

### Multiple print

In [12]:
print("Java")
print(100)

Java
100

### String input

In [11]:
name1= input("Enter Your First Name: ")
name2= input ("Enter your Last Name: ")
print(name1+name2)

Enter Your First Name: Umair
Enter your Last Name: Afzal
UmairAfzal

### Type castting

In [13]:
value1= int(input("Enter first value"))
value2= int(input("Enter second value"))
print(value1+value2)

Enter first value550
Enter second value300
850

### escape Sequence  \n

In [4]:
print ("Pakistan\nZindabad" )

Pakistan
Zindabad

### escape Sequence   \t

In [7]:
print("Pakistan\tZindabad")

Pakistan	Zindabad

### escpae Sequence  \a

In [11]:
print("Pakistan\aZindabad")

PakistanZindabad

### print ' between two words

In [13]:
print("Pakistan\'Zindabad")

Pakistan'Zindabad

### print " between two words

In [14]:
print("Pakistan\"Zindabad")

Pakistan"Zindabad

### remove any previous character

In [16]:
print("ab"+"\b"+"c")

abc

### print character from unicode datbase

In [22]:
print("\N{dagger}")

â€