In [5]:
first_name="Muhammad"
middle_name="Umair"
last_name="Afzal"
full_name=first_name+middle_name+last_name
print(full_name)
full_name

MuhammadUmairAfzal

'MuhammadUmairAfzal'

In [7]:
first_name="Muhammad"
middle_name="Umair"
last_name="Afzal"
full_name=first_name+" "+middle_name+" "+last_name
print(full_name)

Muhammad Umair Afzal

###  1=   ctrl+/  2=  select all the paragraph and press ' 3 times

In [ ]:
# this is a comment
# this is a comment
# this is a comment
# this is a comment
# this is a comment

''' this is a comment
 this is a comment
 this is a comment
 this is a comment
 this is a comment'''

### Type Casting

In [8]:
# there are 200 students in my class
numofstudents=200
print("there are"+str(numofstudents)+"students in my class")

there are200students in my class

### input

In [9]:
numofstudents= input('How many students in your class?')
print(numofstudents)

How many students in your class?pakistan
pakistan

### type casting in input

In [11]:
numofstudents= int(input('How many students in your class?'))
print(numofstudents)

How many students in your class?10
10

### input from user & concatinate in string

In [24]:
# there are 10 girls and 90 boys in my class
num1= int(input('Numbers of girls in my class?'))
num2= int(input('Numbers of boyss in my class?'))
total= num1+num2
print("There are "+str(num1)+ " girls and "+str(num2)+" boys in my class,", "Total Num of students is "+str(total))

Numbers of girls in my class?10
Numbers of boyss in my class?20
There are 10 girls and 20 boys in my class, Total Num of students is 30

### Increement

In [28]:
age=50

# methode 1
age= age+1

# methode 2
age+=1
print(age)

52

### Decreement

In [29]:
age=50

# methode 1
age= age-1

# methode 2
age-=1
print(age)

48

### Multiply

In [31]:
age=50

# methode 1
age= age*2
print(age)

# methode 2
age*=2
print(age)

100
200

### Division is always in float type in decimal

In [32]:
age=50

# methode 1
age= age/2
print(age)

# methode 2
age/=2
print(age)

25.0
12.5

### Division in round

In [33]:
age=50

# methode 1
age= age//2
print(age)

# methode 2
age//=2
print(age)

25
12

### Division of float value

In [34]:
age=50.9

# methode 1
age= age//2
print(age)

# methode 2
age//=2
print(age)

25.0
12.0

### Modulus Operator (for remainder)

In [3]:
19%5

4

### Bodmas (Brackets,of,Division,Multiply,Add,Subtract)

In [7]:
2+10/5*6-3

144

In [8]:
(2+2)*(3*12)

144

In [10]:
3%2+2

3